 .heart-like-button {
     position: relative;
     width: 24px;
     height: 22px;
 }

 .heart-like-button:before {
     position: absolute;
     top: 0;
     left: 12px;
     transform: rotate(-45deg);
     transform-origin: 0 100%;
     width: 12px;
     height: 18px;
     border-radius: 40px 40px 0 0;
     background-color: var(--cinza);
     content: "";
     cursor: pointer;
     transition: background .4s;
 }

 .heart-like-button:after {
     position: absolute;
     top: 0;
     left: 0;
     transform: rotate(45deg);
     transform-origin: 100% 100%;
     width: 12px;
     height: 18px;
     border-radius: 6px 6px 0 0;
     background-color: var(--cinza);
     content: "";
     cursor: pointer;
     transition: background .4s;
 }


 .heart-like-button.liked::before,
 .heart-like-button.liked::after {
     background-color: var(--vermelho);
 }

 .heart-like-button.liked {
     animation: liked .4s ease;
 }

 @keyframes liked {
     0% {
         transform: scale(.6);
     }

     50% {
         transform: scale(1.2);
     }

     100% {
         transform: scale(1);
     }
 }

 @media screen and (max-width: 480px) {
     #container {
         height: auto;
     }

     h1 {
         font-size: 2.5rem;
     }
 }