body {
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 24px;
    font-family: var(--body-text);
    height: 100vh;
    display: grid;
    gap: 20px;
}

body::after {
    position: absolute;
    content: " ";
    inset: 0;
    background: var(--gradient);
    z-index: -1;
}

header {
    height: 100px;
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 100px;
}

.content-container {
    color: #fff;
    display: grid;
    gap: 9px;
}

.content-container h1 {
    width: 230px;
}

.content-container p {
    width: 300px;
}
.button-container{
    display: flex;
}

@media(min-width: 667px){
    main, header{
        padding: 46px;
    }
    .content-container{
        gap: 43px;
    }
    .content-container h1 {
        font-size: 70px;
        width: 574px;
    }
    .content-container p {
        font-size: 24px;
        width: 399px;
    }
    .button-container{
        justify-content: end;
    }

}

@media(min-width:1200px){
    main, header{
        padding: 46px;
    }
    .content-container{
        gap: 43px;
    }
    .content-container h1 {
        font-size: 70px;
        width: 574px;
    }
    .content-container p {
        font-size: 24px;
        width: 399px;
    }
    .button-container{
        justify-content: end;
    }
}